body {
    background: url("./images/gravel.png")
}

input {
    border: none;
}

button:focus, input:focus {
    outline: none;
}

.header {
    text-align: center;
}

.schedule, .form-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px 40px;
    border: 1px solid #0000006c;
}

.validate {
    border-radius: 10px;
    border: 1px solid #0000006c;
    padding-left: 8px;
}
