body {
    background: url("./images/gravel.png");
    background-attachment: fixed;
}

.currentTime {
    background-color: #0051778e;
    border-radius: 4px;
    width: 100%;
    max-width: 200px;
    margin: auto;
    color: #ffffff;
    border: 1px solid #5252527e;
}

.container {
    margin-bottom: 10%;
    margin-top: 2%;
}

.title {
    text-shadow: 1px 1px 8px #005177b9;
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 1px;
    color: #ffffff;
}

input {
    border: none;
    transition: 0.5s;
}

input:hover {
    box-shadow: 0 0 10px #00aeffa2;
}

input:focus {
    box-shadow: 0 0 10px #0044ffa2;
}

button:focus, input:focus {
    outline: none;
}

.header {
    text-align: center;
}

.scheduletitle, #tabletitle {
    font-weight: bold;
}

.scheduletitle {
    background-color: #0051778e;
    border: 1px solid #36363648;
    padding: 15px;
    border-radius: 10px 30px;
}

.schedule {
    margin-top: 1%;
}

.schedule, .form-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px 40px;
    border: 1px solid #0000006c;
    box-shadow: 1px 1px 10px #000000a4;
}

.form-container {
    height: 400px;
}

.validate {
    border-radius: 6px;
    border: 1px solid #0000006c;
    padding-left: 8px;
}

#train-form {
    width: 50%;
    margin: 0;
    position: absolute;
}

.imagehere {
    height: 254px;
    background: url("./images/thomas.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 100%;
    float: right;
    position: relative;
    width: 50%;
    box-shadow: 0 0 8px 8px #ffffff inset;
}

#addTrain {
    width: 80px;
    height: 30px;
    border-radius: 5px;
    background-color: #005bb1a4;
    color: #ffffff;
}

#addTrain:active {
    background-color: #0044ffc4;
}

tr, td {
    transition: 0.3s;
}

tr:hover {
    background-color: #0000006c
}

td:hover {
    background-color: #00aeff6e;
    color: #ffffff;
    cursor: default;
}